.txt{
    color: #102b3f;
}
.txt:hover {
    transform: scale(1.4);
    transition: all 0.5s;
    color: #333;
}

.select-page {
    border: none;
    border-radius: 100px;
    background-color: #102b3f;
    width: 60px;
    height: 60px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.select-page:hover {
    background-color: #282828;
}

.page-buttons {
    display: flex;
    margin-top: 50px;
    margin-bottom: 3rem;
    justify-content: space-between;
    width: 50%;
}