.actions-btns {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;

    a {
        text-decoration: none;
    }

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 6px;
        color: white;
        border: none;
        height: 50px;
        width: 50px;

        &.hire-me {
            width: 150px !important;
            animation: wiggle 2.7s infinite;

            span {
                margin-left: 10px;
                font-size: 16px;
            }
        }
    }
}

.hire-me:hover {
    animation: none;
    background-color: #333333;
}

@keyframes wiggle {
    2% {
      -webkit-transform: translateY(-3px);
      transform: translateY(-3px);
    }
  
    4% {
      -webkit-transform: translateY(3px);
      transform: translateY(3px);
    }
  
    6% {
      -webkit-transform: translateY(-3px);
      transform: translateY(-3px);
    }
  
    8% {
      -webkit-transform: translateY(3px);
      transform: translateY(3px);
    }
  
    10% {
      -webkit-transform: translateY(-2px);
      transform: translateY(-2px);
    }
  
    12% {
      -webkit-transform: translateY(2px);
      transform: translateY(2px);
    }
  
    14% {
      -webkit-transform: translateY(-2px);
      transform: translateY(-2px);
    }
  
    16% {
      -webkit-transform: translateY(2px);
      transform: translateY(2px);
    }
  
    18% {
      -webkit-transform: translateY(-1px);
      transform: translateY(-1px);
    }
  
    20% {
      -webkit-transform: translateY(1px);
      transform: translateY(1px);
    }
}